@import "normalize";
* {font-family: 'Open Sans', sans-serif;}

header {
	$bg-hdr-clr-n: #f40; /*Базовый цвет профлиста*/
	$bg-hdr-clr-l: #f62; /*Цвет профлиста на свету*/
	$bg-hdr-clr-d: #d30; /*Цвет профлиста в тени*/
	background: linear-gradient(to right, 
		$bg-hdr-clr-d 11%, $bg-hdr-clr-n 12%, 
		$bg-hdr-clr-n 33%, $bg-hdr-clr-l 34%, 
		$bg-hdr-clr-l 44%, $bg-hdr-clr-n 45%) #f40;
	background-size: 30px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-logo {width: 200px; margin-left: 17px; img {width: 100%;}}
.header-desc {margin-left: 20px;}
	.header-title {font-size: 1.8em; font-weight: 700;}
	.header-address {font-weight: 700;}
	.header-goods {max-width: 400px; font-size: 0.8em; margin: 10px 0;}
.header-spacer {flex-grow: 1}
.header-contacts {}
	.header-telephone {font-weight: 700; font-size: 1.3em; line-height: 1.3em}
	.header-opening-hours {
		margin-top: 10px; 
		background-color: #444; 
		font-size: 0.9em;
		color: #fff; 
		padding: 5px; 
		font-weight: 400;
	}
.header-cart {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240px; margin: 0 10px; img {width: 100%; margin: 20px;}
}
	.header-cart-desc {}
	.header-cart-name {font-size: 1.2em; font-weight: 700;}
	.header-cart-information {font-size: 0.8em; margin: 10px 0;}
	.header-cart-order-button {background-color: #0ff; text-align: center; font-size: 0.8em; padding: 5px; margin: 5px 0;}


nav {
	border-top: 1px solid #f00;
	$bg-nav-clr-n: #444; /*Базовый цвет профлиста*/
	$bg-nav-clr-l: #555; /*Цвет профлиста на свету*/
	$bg-nav-clr-d: #333; /*Цвет профлиста в тени*/
	background: linear-gradient(to right, 
		$bg-nav-clr-d 11%, $bg-nav-clr-n 12%, 
		$bg-nav-clr-n 33%, $bg-nav-clr-l 34%, 
		$bg-nav-clr-l 44%, $bg-nav-clr-n 45%) #444;
	background-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	a {
		display: block;
		padding: 25px;
		font-size: 1.3em;
		line-height: 20px;
		text-decoration: none;
		text-shadow: 1px 1px 2px #000;
		color: #fff;
	}
	a:hover {
		background-color: #f62;
	}
}



@media (max-width:100px) {
}